.logo{
  border-radius: 50%;
  width: 60px;
}
.pais_img{
  margin: 30px;
  border-radius: 5%;
  height: 200px;
  width: 200px;
  transition: transform 0.3s ease-in-out;
}

.navbar {
background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
color: white !important;
}

.nav-link {
color: white !important;
}

.nav-link:hover {
color: lightgray !important;
}

.navbar-toggler {
border-color: white !important;
}

.navbar-toggler-icon {
background-color: white;
}



.center-section {
  display: flex;
  justify-content: center;
}
.colord{
  background-color: rgb(7, 49, 107);
  align-items: center;
  color: aliceblue;
}
.colorW{
color: aliceblue;
}
@media only screen and (max-width: 769px) {
.diccom{
  width: 110px;
}
.d{
  margin: auto;
}
}
ul{
color: rgb(249, 249, 249);
}
.pre{
background-color:  rgb(7, 49, 107);
border-radius: 5%;
border: 20px;
margin: 5px;
}
.white{
color: white;
}

.pais_img:hover {
transform: scale(1.9);
}

