.logo{
    border-radius: 10%;
    width:60px ;
    margin: 10px;
    margin-right: 15px;
}
.pais_img{
    margin: 30px;
    border-radius: 5%;
    height: 200px;
    width: 200px;
}
.nav_cust{
    background-color: rgb(7, 49, 107);
   
}
#imagen-derecha {
    position: fixed;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}
  #imagen-derecha img {
    width: 70px; 
    height: auto; 
  }
  
.center-section {
    display: flex;
    justify-content: center;
  }